{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "eslint:recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-unused-vars": "off"
  },
  "ignorePatterns": "*.test.js"
}
